:root {
  --dark-gray: #2e4b5a;
  --gray: #2f4452;
  --innactive: #677883;
  --turquose: #30c5c0;
  --hover-keys: #74e4e0;
  --active: #8fe7e4;
  --yellow: #eeb559;
  --hover-btn: #e9bb70;
  --light-gray: #dddbdb;
  --red: #dd5e73;
  --green: #77b958;
  --light-green: #96cc7d;
  --black: #000;
  --color: #ecead2;
  --font-family: verdana, geneva, tahoma, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  block-size: 100vh;
  font-family: var(--font-family);
  inline-size: 100%;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 100%;
  max-inline-size: 800px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  block-size: 100vh;
  gap: 18px;
  inline-size: 100%;
  max-inline-size: 750px;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  gap: 12px;
  inline-size: 100%;
  min-block-size: 50px;
}

.info {
  color: var(--light-gray);
  font-size: 30px;
  min-block-size: 40px;
  text-align: center;
}

.info-general {
  color: var(--hover-keys);
  font-size: 20px;
  min-block-size: 80px;
  text-align: center;
}

.info-user-sequence {
  color: var(--light-gray);
  font-size: 30px;
  min-block-size: 40px;
  text-align: center;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 10px;
  inline-size: 100%;
}

.keycap {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: var(--turquose);
  block-size: 1.2em;
  color: var(--black);
  cursor: default;
  font-size: 50px;
  inline-size: 1.2em;
}

.keycap-effect:hover {
  background-color: var(--hover-keys);
  cursor: pointer;
  user-select: none;
}

.keycap-effect:active {
  background-color: var(--active);
}

.keycap-highlight {
  background-color: var(--active);
}

.highlight-correct {
  background-color: var(--green);
}

.highlight-incorrect {
  background-color: var(--red);
}

.controls {
  display: flex;
  padding: 40px;
  gap: 18px;
}

.difficulty {
  color: var(--light-gray);
  cursor: pointer;
  font-size: 50px;
  user-select: none;
}

// .difficulty:active {
//   color: var(--yellow);
// }

.hightlight-difficulty {
  color: var(--yellow);
}

.start-btn {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: var(--yellow);
  block-size: 60px;
  color: var(--gray);
  font-size: 30px;
  inline-size: 30%;
  cursor: default;
}

// .start-btn:hover {
//   background-color: var(--hover-btn);
// }

.help-btn {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: var(--light-gray);
  block-size: 60px;
  color: var(--gray);
  font-size: 30px;
  inline-size: 30%;
}

// .help-btn:hover {
//   background-color: var(--color);
// }

.btn-effect {
  cursor: default;
}

.btn-effect:hover {
  background-color: var(--color);
  cursor: pointer;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.innactive {
  background-color: var(--innactive);
  pointer-events: none;
  user-select: none;
}

.next {
  background-color: var(--green);
  cursor: pointer;
  user-select: unset;
}

.next:hover {
  background-color: var(--light-green);
}

.off {
  cursor: default;
  user-select: none;
}

.on {
  cursor: pointer;
  user-select: unset;
}
